*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
margin: 0;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
background-color: rgb(92, 88, 63);
position: relative;
}
.main_container{
    display: flex;
    gap: 0px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: rgb(225, 153, 153);
    /* border-radius: 20px; */
    padding: 10px 40px;

}
#time{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 0 20px;
    font-size: 20px;
    background-color: white;
}
.col{
    display: flex;
    width:74px;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: none;
    border-radius: 10px;
 
}
.col.active{
    display: flex;
    animation: rotate 1s 1;
    transition: all 0.1s ease-in-out;
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
        background-image: url('./Images/dice-1.png');
        background-position: center;
        background-size: cover;
    }
    10%{
        transform: rotate(0deg);
        background-image: url('./Images/dice-3.png');
        background-position: center;
        background-size: cover;
    }20%{
        transform:rotate(360deg) ;
        background-image: url('./Images/dice-6.png');
        background-position: center;
        background-size: cover;
    }30%{
        transform: rotate(0deg);
        background-image: url('./Images/dice-2.png');
        background-position: center;
        background-size: cover;
    }40%{
        transform: rotate(360deg);
        background-image: url('./Images/dice-5.png');
        background-position: center;
        background-size: cover;
    }50%{
        transform: rotate(0deg);
        background-image: url('./Images/dice-3.png');
        background-position: center;
        background-size: cover;
    }60%{
        transform: rotate(360deg);
        background-image: url('./Images/dice-1.png');
        background-position: center;
        background-size: cover;
    }70%{
        transform: rotate(0deg);
        background-image: url('./Images/dice-6.png');
        background-position: center;
        background-size: cover;
    }80%{
        transform: rotate(360deg);
        background-image: url('./Images/dice-3.png');
        background-position: center;
        background-size: cover;
    }100%{
        transform: rotate(0deg);
        background-image: url('./Images/dice-4.png');
        background-position: center;
        background-size: cover;
    }
    
}


.col img{
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.bet_container{
    display: block;
    width: 500px;
    height: auto;
    padding: 20px;
   background-color: rgb(225, 153, 153);

}
.big-small-btn{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.b{
    width: 100%;
    height: 100%;
    position: relative;
}
.big-small-btn .b button{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: white;
    cursor: pointer;
    transition: all 0.6s;
}
.big-small-btn .b button:hover{
    background-color: antiquewhite;
}

.big-bet{
    position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background-color: green;
    color: white;
    display: none;
    
    transition: all 0.8s;

}
.triple-bet{
    position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background-color: green;
    color: white;
    display: none;


}
.small-bet{
    position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background-color: green;
    color: white;
    display: none;

}



/* ODD AND EVEN */



.odd-even-btn{
    display: flex;
    margin-top: 2px;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.odd-even-btn .b button{
     display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: white;
    cursor: pointer;
    transition: all 0.6s;
}
.odd-even-btn .b button:hover{
    background-color: antiquewhite;
}


.even-bet{
      position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background-color: green;
    color: white;
    display: none;
}
.odd-bet{
      position: absolute;
    top: 5%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background-color: green;
    color: white;
    display: none;
}


/* BET BOX */
.bet-box{
    position: absolute;
    display: block;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: rgb(195, 209, 215);
    border-radius: 10px;
    display: none;
}
#form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
#form input{
    display: block;
    width: 100%;
    height: 30px;
}
#form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 20px;
    height: 30px;
    background-color: green;
    color: white;
    border: 0;
    cursor: pointer;
}


/* TOtal money */
.total-money-container{
    display: flex;
    width: 200px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.total-money-container h5{
    font-size: 17px;
}